<div class="gadget-card">
  <div
    class="image-container"
    style="
      background-image: url({~IMAGE~});
      background-position: center;
      background-size: 100%;
    "
    aria-label="image of {~GAGDGETNAME~}"
  >
    <!-- <img src="{~IMAGE~}" alt="{~GAGDGETNAME~}" /> -->
  </div>
  <div class="content">
    <h2>{~GAGDGETNAME~}</h2>
    <p>{~DESCRIPTION~}</p>

    <div class="stars">{~STARS~}</div>
    <p class="reviews">{~RATINGS~} Reviews</p>

    <a href="./gadget-detail.html?id={~ID~}">View Details</a>
  </div>
</div>
